@font-face {
  font-family: 'Raleway-Thin';
  src: url('../assets/font/raleway/Raleway-Thin.ttf');
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('../assets/font/raleway/Raleway-Light.ttf');
}

.contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgba(212, 175, 55, .85);
  background-color: rgba(38, 38, 38, 1);
  font-family: 'Raleway-Light', 'sans-serif';
}

.contact-container::after{
  content: 'Copyright Andy Liang 2018';
  font-family: 'Raleway-Thin', 'sans-serif';
  height: 1px;
  margin: 2% 3%;
  width: auto;
  background-color: rgba(255, 215, 0, .5);
  display: flex;
  text-align: center;
}

.contact-section {
  height: 100%;
}

.contact-title {
  font-size: 3rem;
  font-family: 'Raleway-Thin', 'sans-serif';
  margin: 5% 0 3% 3%;
}

.contact-information {
  display: flex;
  flex-direction: column;
  margin: 0 3% 0 3%;
  font-family: 'Raleway-Thin', 'sans-serif';
  font-size: .85rem;
}

.contact-container h2 {
  margin-bottom: 5%;
}

.contact-information h2 a
{
  text-decoration: none;
  color: rgba(212, 175, 55, .85);
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 480px) {
  .contact-container {
    height: auto;
  }
  .contact-information {
    font-size: .8rem;
    margin-bottom: 15%;
  }
}
